# Web
node_modules/
.DS_Store

# Android
.gradle/
android/.gradle-user-home/
android/.android-user-home/
build/
*.iml
local.properties
.idea/

# Windows
bin/
obj/
*.user
*.suo
.vs/

# iOS
DerivedData/
*.moved-aside
*.xcuserstate
